<div class="text-editor">
{{#mobiledoc-editor did-create-editor=(action 'didCreateEditor') as |editor|}}
  {{#mobiledoc-markup-button editor=editor for="b"}}
    <b>B</b>
  {{/mobiledoc-markup-button}}

  {{#mobiledoc-markup-button editor=editor for="i"}}
    <i>I</i>
  {{/mobiledoc-markup-button}}

  {{#mobiledoc-markup-button editor=editor for="u"}}
    <u>U</u>
  {{/mobiledoc-markup-button}}
{{/mobiledoc-editor}}
</div>
